/* 去除页脚默认遮罩 */
#footer::before {
    background: transparent !important;
    background-color: transparent !important;
}

#footer a,
#footer span,
#footer p {
    color: #000000 !important;
}

/* 链接 hover 时的样式 */
/* #footer a:hover {
    color: #000000 !important;
    text-decoration: underline;
} */
/* #footer_wrap .copyright,
#footer_wrap .footer_custom_text {
    color: #49B1F5 !important;
} */
 #footer_wrap {
     --light-grey: #49B1F5 !important;
 }